* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  gap: 1rem;
  border-radius: 16px;
  padding: 16px;
}

p {
  margin: 0;
}

.password {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 8px;
  min-height: 40px;
}

.settings {
  display: flex;
  flex-direction: column;
}

.label {
  text-transform: uppercase;
}

.slider {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.length {
  flex: 1;
  height: 4px;
  background-color: #ccc;
  border-radius: 8px;
}

.length::-webkit-slider-thumb,
.length::-moz-range-thumb {
  background-color: deeppink;
  border: none;
  border-radius: 8px;
  width: 16px;
  height: 16px;
}

.checkbox {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 460px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    border-radius: 16px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .15);
    padding: 32px;
    width: 400px;
    margin: 32px auto;
  }

  h1,
  .password,
  .settings {
    grid-column: span 2;
  }
}