:root {
  --primary-color: #fff;
  --secondary-color: #f9c252;
  --hover-color: #fad485;
  --headline-color: #111;
  --text-color: #666;
  --light-grey: #f5f5f5;
  --grey: #e5e5e5;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--primary-color);
}

h1 {
  color: var(--headline-color);
}

.container {
  display: grid;
  gap: 1rem;
  border-radius: 16px;
  padding: 16px;
  background-color: var(--primary-color);
}

.password {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.063rem;
  background-color: var(--light-grey);
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 0.625rem;
  min-height: 48px;
  word-break: break-all;
}

.settings {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.75rem;
}

.label {
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--headline-color);
  text-transform: uppercase;
  letter-spacing: 0.02rem;
}


/* range slider */
.slider {
  display: flex;
  align-items: center;
}

.length {
  flex: 1;
  height: 4px;
  background-color: var(--grey);
  border-radius: 8px;
}

.length::-webkit-slider-thumb,
.length::-moz-range-thumb {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.output {
  font-size: 0.875rem;
  color: var(--text-color);
  width: 23px;
  text-align: right;
}


/* toggle switch */
.checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
  padding: 0.75rem 0;
  color: var(--text-color);
  border-bottom: 2px solid var(--light-grey);
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input {
  width: 0;
  height: 0;
  opacity: 0;
}

.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--grey);
  border-radius: 16px;
  transition: 0.4s;
}

.toggle:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: var(--primary-color);
  border-radius: 50%;
  transition: 0.4s;
}

input:checked+.toggle {
  background-color: var(--secondary-color);
}

input:checked+.toggle:before {
  transform: translateX(18px);
}

/* buttons */
.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.813rem;
  margin-top: 0.625rem;
}

.button {
  cursor: pointer;
  flex: 1;
  font-size: 0.875rem;
  font-weight: 700;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 8px;
  padding: 1rem;
}

.button:hover {
  background-color: var(--hover-color);
}

/* media query */
@media screen and (min-width: 380px) {
  .buttons {
    flex-direction: row;
  }
}

@media screen and (min-width: 460px) {
  body {
    background-color: var(--light-grey);
    ;
  }

  .container {
    border-radius: 16px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .15);
    padding: 32px;
    width: 420px;
    margin: 32px auto;
  }
}